Flask             
Flask-Migrate    
Flask-SQLAlchemy  
flask_cors
flask_restful
greenlet          
gunicorn          
itsdangerous      
Jinja2            
Mako              
MarkupSafe       
packaging         
pip              
setuptools      
SQLAlchemy        
typing_extensions 
Werkzeug         
wheel            