Flask             
Flask-Migrate    
Flask-SQLAlchemy  
greenlet          
gunicorn          
itsdangerous      
Jinja2            
Mako              
MarkupSafe       
packaging         
pip              
setuptools      
SQLAlchemy        
typing_extensions 
Werkzeug         
wheel            