body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.teach {
  max-width: 100%;
  min-width: 400px;
  max-height: 100%;
  min-height: 300px;
  height:auto;
  background-image: url('./logo512.png');
  background-repeat: no-repeat;
	background-size: contain;
  /* margin-left: 50%; */
  text-align: center;
  /* margin: 0; */

}
.swm {
  background-color: white;
  /* color: green; */
  border: 2px solid black;
  cursor: pointer;
  margin: 5%;
  padding: 3% 100px;
  text-align: center;
  border: white 3px solid;
  /* border-radius:5%; */
  font-weight: 700;
  
  
}
.swm2 {
  background-color: white;
  /* color: green; */
  border: 2px solid black;
  cursor: pointer;
  margin: 5%;
  
  padding: 3% 100px;
  text-align: center;
  border: white 3px solid;
  /* border-radius:5%; */
  font-weight: 700;
  
  
}
.color-blue {
  color:blue;
  text-decoration: wavy;
}
.color-red {
  color:red;
  text-decoration: wavy;
}
.color-green {
  color:green;
  text-decoration: wavy;
}
.color-yellow {
  color:yellow;
  text-decoration: wavy;
}
.color-purple {
  color:purple;
  text-decoration: wavy;
}
.color-orange {
  color: orange;
  text-decoration: wavy;
}
.payment {
  text-align: center;
}
.apple {
  /* max-width: 100%; */
  min-width: 150px;
  max-height: 100%;
  min-height: 150px;
  height:auto;
  background-image: url('./apple.ico');
  background-repeat: no-repeat;
	background-size: contain;
  /* margin-left: 50%; */
  text-align: center;
  /* margin: 0; */
  animation: App-logo-spin infinite 20s linear;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.eli{
  text-align: center;
  background-color: purple;
  margin-bottom: 0%;
  padding-bottom: 15%;

}
.tommy {
  text-align: center;
  background-color: green;
  margin-bottom: 0%;
  padding-bottom: 15%;

}
.johnny {
  text-align: center;
  background-color: blue;
  color: white;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-bottom: 15%;

}
.joey {
  text-align: center;
  background-color: goldenrod;
  margin-bottom: 0%;
  padding-bottom: 15%;

}
.custom-checkbox {
  width: 340px;
  height: 80px;
}
.custom-checkbox input#status {
  display: none;
}
.custom-checkbox input#status + label {
  height: 100%;
  width: 100%;
}
.custom-checkbox input#status + label > .status-switch {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: grey;
  color: white;
  transition: all 0.5s ease;
  padding: 3px;
  border-radius: 3px;
}
.custom-checkbox input#status + label > .status-switch:before, .custom-checkbox input#status + label > .status-switch:after {
  border-radius: 2px;
  height: calc(100% - 6px);
  width: calc(50% - 3px);
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  transition: all 0.3s ease;
}
.custom-checkbox input#status + label > .status-switch:before {
  background-color: white;
  color: black;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  left: 3px;
  z-index: 10;
  content: attr(data-unchecked);
}
.custom-checkbox input#status + label > .status-switch:after {
  right: 0;
  content: attr(data-checked);
}
.custom-checkbox input#status:checked + label > .status-switch {
  background-color: #40c253;
}
.custom-checkbox input#status:checked + label > .status-switch:after {
  left: 0;
  content: attr(data-unchecked);
}
.custom-checkbox input#status:checked + label > .status-switch:before {
  color: #40c253;
  left: 50%;
  content: attr(data-checked);
}